<ion-view view-title="Recuperar contraseña">
  <ion-content>

    <form class="list">

      <label class="item item-input">
        <span class="input-label">Correo electrónico</span>
        <input type="email">
      </label>

    </form>

    <div class="padding">
      <button class="button button-block button-royal">
        Recuperar contraseña
      </button>
    </div>

    <div class="card">
      <div class="item item-divider">
        Detalles
      </div>
      <div class="item item-text-wrap">
        Se ha enviado a su correo una nueva contraseña.
      </div>
    </div>
    
  </ion-content>
  <chat-button></chat-button>
</ion-view>
