<ion-view view-title="Silla">
  <ion-content>

  	<div class="row">
  		<div class="col-50">
  			<div class="button-bar">
			  <a class="button button-dark">18</a>
			  <a class="button button-outline button-dark">17</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">16</a>
			  <a class="button button-outline button-dark">15</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">14</a>
			  <a class="button button-outline button-dark">13</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">12</a>
			  <a class="button button-outline button-dark">11</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">10</a>
			  <a class="button button-outline button-dark">9</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">8</a>
			  <a class="button button-outline button-dark">7</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">6</a>
			  <a class="button button-outline button-dark">5</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">4</a>
			  <a class="button button-outline button-dark">3</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
  		</div>
  		<div class="col-50">
  			<div class="button-bar">
			  <a class="button button-outline button-dark">36</a>
			  <a class="button button-outline button-dark">35</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">34</a>
			  <a class="button button-outline button-dark">33</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">32</a>
			  <a class="button button-outline button-dark">31</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">30</a>
			  <a class="button button-outline button-dark">29</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">28</a>
			  <a class="button button-outline button-dark">27</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">26</a>
			  <a class="button button-outline button-dark">25</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">24</a>
			  <a class="button button-outline button-dark">23</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">22</a>
			  <a class="button button-outline button-dark">21</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">20</a>
			  <a class="button button-outline button-dark">19</a>
			</div>
  		</div>
  	</div>

  	<div class="padding">
      <button class="button button-block button-royal" ui-sref="reserve">
        Reserva
      </button>
      <button class="button button-block button-dark" ui-sref="pay-online">
        Pago en línea
      </button>
    </div>
    
  </ion-content>
  <chat-button></chat-button>
</ion-view>
