/* Empty. Add your own CSS if you like */

/* ** Generales ** */
.text-uppercase {
	text-transform: uppercase;
}
ion-content {
	margin-bottom: 50px !important;
}
/* ** Main ** */
.main-content .row .col img {
	width: 100%;
}

/* ** Chat ** */
.chat-button {
	position: fixed;
    right: 11px;
    bottom: 1%;
}