<ion-view view-title="Cambiar contraseña">
  <ion-content>

    <form class="list">

      <label class="item item-input">
        <span class="input-label">Contraseña actual</span>
        <input type="password">
      </label>

      <label class="item item-input">
        <span class="input-label">Nueva contraseña</span>
        <input type="password">
      </label>

      <label class="item item-input">
        <span class="input-label">Confirmar contraseña</span>
        <input type="password">
      </label>

    </form>

    <div class="padding">
      <button class="button button-block button-royal">
        Cambiar contraseña
      </button>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Su contraseña se ha cambiado exitosamente.
      </div>
    </div>
    
  </ion-content>
  <chat-button></chat-button>
</ion-view>
