<ion-view view-title="Chat en línea">
  <ion-nav-bar align-title="center" class="bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button" ui-sref="main">
        Salir
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Escribe tus datos para resivir asesoría en línea.
      </div>
    </div>

    <form class="list">

       <label class="item item-input">
        <span class="input-label">Nombres</span>
        <input type="text">
      </label>

      <label class="item item-input">
        <span class="input-label">Correo electrónico</span>
        <input type="email">
      </label>

      <label class="item item-input">
        <span class="input-label">Celular</span>
        <input type="tel">
      </label>

      <label class="item">
        <textarea rows="4" cols="50" placeholder="**Ingresa aquí tu pregunta."></textarea>
      </label>

    </form>

    <div class="padding">
      <button class="button button-block button-assertive" ui-sref="chat">
        Iniciar chat
      </button>
    </div>

  </ion-content>
</ion-view>
