<ion-view view-title="Ingresar">
  <ion-content>

    <form class="list">
      <label class="item item-input">
        <span class="input-label">Número de documento</span>
        <input type="number">
      </label>

      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input type="password">
      </label>
    </form>

    <div class="row">
      <button class="button button-clear button-royal col" ui-sref="forgot-password">
        ¿Olvidó su contraseña?
      </button>
    </div>

    <div class="row">
      <button class="button button-clear button-royal col" ui-sref="change-password">
        Cambiar contraseña
      </button>
    </div>

    <div class="row padding">
      <button class="button button-royal col-50" ui-sref="buy-ticket">
        Iniciar Sesión
      </button>
    </div>
  </ion-content>
  <chat-button></chat-button>
</ion-view>
