<ion-view hide-nav-bar="true">
  <ion-content class="main-content">

    <div class="row">
      <div class="col">
        <button class="button button-block button-dark text-uppercase padding-vertical"
          ui-sref="signup">
          Registrarse
        </button>
        <button class="button button-block button-dark text-uppercase padding-vertical"
          ui-sref="login">
          Ingresar
        </button>
        <button class="button button-block button-royal text-uppercase padding-vertical"
          ui-sref="buy-ticket">
          Comprar Tiquete
        </button>
      </div>
    </div>

  </ion-content>
  <chat-button></chat-button>
</ion-view>
