<ion-view view-title="Cambiar contraseña">
  <ion-content>

    <div class="padding">
      <button class="button button-block button-royal">
        PSE
      </button>

      <button class="button button-block button-royal">
        Tarjeta de crédito
      </button>
    </div>

    <div class="card">
      <div class="item item-divider">
        Comprobante de pago
      </div>
      <div class="item item-text-wrap">
        ...
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-royal" ui-sref="print-reserve">
        Imprimir comprobante
      </button>

      <button class="button button-block button-dark" ui-sref="main">
        Salir
      </button>
    </div>
    
  </ion-content>
  <chat-button></chat-button>
</ion-view>
