<ion-view view-title="Silla">
  <ion-content>

  	<div class="row">
  		<div class="col">
  			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
  		</div>
  		<div class="col">
  			<div class="button-bar">
			  <a class="button button-outline button-dark">3</a>
			  <a class="button button-outline button-dark">4</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
			<div class="button-bar">
			  <a class="button button-outline button-dark">1</a>
			  <a class="button button-outline button-dark">2</a>
			</div>
  		</div>
  	</div>

  	<div class="padding">
      <button class="button button-block button-royal" ui-sref="reserve">
        Reserva
      </button>
      <button class="button button-block button-dark" ui-sref="pay-online">
        Pago en línea
      </button>
    </div>
    
  </ion-content>
  <chat-button></chat-button>
</ion-view>
